/*
    cor-primaria:    #e8790b;
    cor-secundaria:    #af4b00
    cor-adjacente:    #ffa945;
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #474a48;    
}

li{
    list-style: none;
}

section{
    background-color: #474a48;
}

a{
    text-decoration: none;
    color: #000;
}


.TITULO{
    height: 90px;
    width: 100%;
    background-color: #e8790b;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    padding-top: 10px;
    color: #fff;
}

:root{
    --menuColor: #ff9900;
    --corPrimaria: #fcba03;
    --corSecundaria: #a19e97;
    --corTexto: #000;
    --div:#ad7e17;
    --div2:#AD9e17;
    --black: #000;
    --white: #fff;
    --blackTransparent: rgba(0,0,0,0.6);
}

/* ************* MENU **********/

@media screen and (min-device-width:1300px){
.container{
    width: 1400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
/*    background-color: #a6a49f;*/
}
    
    
#containerMenu{
    height: 100px;
    width: 100%;
    background-color: #031321;
/*    background-color: #d35400;*/
    position: fixed;
}

/* ************** LOGO **************/

#logo{
    height: 150px;
    width: 150px;
    border-radius:50%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    box-sizing: border-box;
/*    background-color: orange;*/
    box-sizing: border-box;
    padding-top: 150px;
    background-image: url(../imagens/logo/HILLVALEY.png);
    background-size: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    
}

#containerLinks{
    height: 200px;
    width: 270px;
    margin-top: -50px;
    opacity: 0;
    visibility: hidden;
}

#inicio{
    height: 120px;
    width: 120px;
    background-color: #524a49;
    border-radius: 50%;
    float:left; 
    margin-top: 70px;
    background-image: url(../imagens/logo/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    box-sizing: border-box;
    padding-right: 50px;
    box-sizing: border-box;
}

#sistemaInternoLogo{
    height: 120px;
    width: 120px;
    background-color: #524a49;
    border-radius: 50%;
    margin-top: 10px;
    float:right;
    background-image: url(../imagens/logo/chip.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    box-sizing: border-box;
}

.efeitoRoda{
    border: 6px solid rgb(0,0,0,0.0);
    height: 108px;
    width: 108px;
    border-radius: 50%;
    transition: 0.5s;
}

.efeitoRoda:hover{
    border: 6px solid rgb(0,0,0,0.2);
    border-left-color: darkblue;
    transition: 1s;
    transition: 0.3s;
    animation: spin linear 0.8s;
}

@keyframes spin{
    to {transform: rotate(360deg);}
}

#logo:hover > #containerLinks{
    opacity: 1;
    visibility: visible;
    transition: 800ms;
}

/* ************** MENU ***********/

#menu{
    height: 50px;
    width: 830px;
    float: left;
    margin-right: 10px;
    margin-top: 20px; 
    
}

#itensMenu{
    height: inherit;
    width: 100%;
    
}

#widthCuriosidades, #widthEmpresa, #widthPromocao, #widthloja, #widthProdutos, #widthContato {
    height: 50px;
    margin-right: 9px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
     
}    

.efeitoMenu{
    position: relative;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    float: left;
    font-family: comic sans ms;
    color: #fff;
    border: none;
    outline: none;
    margin: auto;
    
}    
    
.efeitoMenu:before{
    position: absolute;
    content: "";
    height: inherit;
    width: 50%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.5));  
    top: 0;
    bottom: 0;
    transform: skew(-45deg);
    left: -450px;
    
}

.efeitoMenu:hover::before{
    transition: .9s;
    left: 450px;
}
    
.efeitoMenu a{
    color: #fff;
}   

/* *********** LOGIN ************/

#containerForm{
    height: 60px;
    width: 370px;
    float: left;
    margin-top: 20px;
/*    background-color: orange;*/
}

.containerInput{
    height: 60px;
    width: 160px;
    text-align: left;
    color: #fff;
    font-family: "comic sans ms", "arial";
    margin-right: 10px;
    float: left;
}

.confgInput{
    height: 25px;
    width: 150px;

}

#botao{
    height: 30px;
    width: 30px;
    margin-top: 23px;
    border-radius: 5px;
    border: none;
    margin-left: -15px;
}

#img{
    height: 500px;
    width: 1400px;
    background-color: #8395a7;
    background-image: url(../imagens/contato/header/h1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


/* ************ redes sociais ********** */
#containerRedes{
    height: 500px;
    width: 100px;
    position: fixed;
    margin-top: -90px;
    margin-left: 1400px;
}

#facebook, #whatsapp, #instagram {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    background-image: url(../imagens/redes_sociais/facebook.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#whatsapp{
       background-image: url(../imagens/redes_sociais/whatsapp.png); 
}

#instagram{
       background-image: url(../imagens/redes_sociais/instagram.png); 
}


/* ********** roda pé ***********/

footer{
    height: 130px;
    width: 100%;
    background-color: #031321;
}

#containerSistemaInterno{
    height: 130px;
    width: 220px;
    float: left; 
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

#sistemaInterno{
    height: 50px;
    width: 190px;
    border: solid 2px #000;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    font-family: "comic sans ms" "arial";
    font-size: 24px;
    color: #000;
}

#containerEndereco{
    height: 55px;
    width: 750px;
    float: left;
    padding-top: 75px;
    padding-left: 110px;
    
}

#endereco{
    height: 40px;
    width: 690px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    font-family: "comic sans ms" "arial";
    text-align: center;
    font-size: 24px;
    color: #fff;
    
}

#containerAPP{
    height: 130px;
    width: 320px;
    float: left;
}

#imagemAPP{
    height: 70px;
    width: 60px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background-image: url(../imagens/roda_pe/baixar2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#baixarAPP{
    height: 43px;
    width: 180px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 50px;
    border: 2px solid #000;
    float: left;
    padding-top: 17px;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    color: #000;
    
}
    
}

/************* testes *************** */

@media screen and (max-device-width:1024px){
    
.container{
    width: 100%; 
    height: inherit;
    
/*    background-color: #a6a49f;*/
}
    
    
#containerMenu{
    height: 100px;
    width: 100%;
    background-color: #031321;
    position: fixed;
}

/* ************** LOGO **************/

#menu{
     display: none;       
}    
    
    
#logo{
    height: 150px;
    width: 150px;
    border-radius:50%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    box-sizing: border-box;
/*    background-color: orange;*/
    box-sizing: border-box;
    padding-top: 150px;
    background-image: url(../imagens/logo/HILLVALEY.png);
    background-size: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    
}

#containerLinks{
    height: 200px;
    width: 270px;
    margin-top: -50px;
    opacity: 0;
    visibility: hidden;
}

#inicio{
    height: 120px;
    width: 120px;
    background-color: #524a49;
    border-radius: 50%;
    float:left; 
    margin-top: 70px;
    background-image: url(../imagens/logo/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    box-sizing: border-box;
    padding-right: 50px;
    box-sizing: border-box;
}

#sistemaInternoLogo{
    height: 120px;
    width: 120px;
    background-color: #524a49;
    border-radius: 50%;
    margin-top: 10px;
    float:right;
    background-image: url(../imagens/logo/chip.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    box-sizing: border-box;
}

.efeitoRoda{
    border: 6px solid rgb(0,0,0,0.0);
    height: 108px;
    width: 108px;
    border-radius: 50%;
    transition: 0.5s;
}

.efeitoRoda:hover{
    border: 6px solid rgb(0,0,0,0.2);
    border-left-color: darkblue;
    transition: 1s;
    transition: 0.3s;
    animation: spin linear 0.8s;
}

@keyframes spin{
    to {transform: rotate(360deg);}
}

#logo:hover > #containerLinks{
    opacity: 1;
    visibility: visible;
    transition: 800ms;
}

/* ************** MENU ***********/
    


/* *********** LOGIN ************/

#containerForm{
    height: 60px;
    width: 370px;
    float: left;
    margin-top: 20px;
/*    background-color: orange;*/
}

.containerInput{
    height: 60px;
    width: 160px;
    text-align: left;
    color: #fff;
    font-family: "comic sans ms", "arial";
    margin-right: 10px;
    float: left;
}

.confgInput{
    height: 25px;
    width: 150px;

}

#botao{
    height: 30px;
    width: 30px;
    margin-top: 23px;
    border-radius: 5px;
    border: none;
    margin-left: -15px;
}

#img{
    height: 500px;
    width: 100%;
    background-color: #8395a7;
    background-image: url(../imagens/contato/header/h1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}


/* ************ redes sociais ********** */
#containerRedes{
    height: 500px;
    width: 100px;
    position: fixed;
    margin-top: 0px;
    margin-left: 1400px;
}

#facebook, #whatsapp, #instagram {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    background-image: url(../imagens/redes_sociais/facebook.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#whatsapp{
       background-image: url(../imagens/redes_sociais/whatsapp.png); 
}

#instagram{
       background-image: url(../imagens/redes_sociais/instagram.png); 
}


/* ********** roda pé ***********/

footer{
    height: 130px;
    width: 100%;
    background-color: darkgrey;
}

#containerSistemaInterno{
    height: 130px;
    width: 220px;
    float: left; 
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

#sistemaInterno{
    height: 50px;
    width: 190px;
    border: solid 2px #000;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    font-family: "comic sans ms" "arial";
    font-size: 24px;
    color: #000;
}

#containerEndereco{
    height: 55px;
    width: 750px;
    float: left;
    padding-top: 75px;
    padding-left: 110px;
    
}

#endereco{
    height: 40px;
    width: 690px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    font-family: "comic sans ms" "arial";
    font-size: 24px;
    text-align: center;
    
}

#containerAPP{
    height: 130px;
    width: 320px;
    float: left;
}

#imagemAPP{
    height: 70px;
    width: 60px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#baixarAPP{
    height: 43px;
    width: 180px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 50px;
    border: 2px solid #000;
    float: left;
    background-image: url(../imagens/roda_pe/baixar2.png);
    padding-top: 17px;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    color: #000;
    
}
    
}
















