/*
    cor-primaria:    #e8790b;
    cor-sevundaria:    #af4b00
    cor-adjacente:    #ffa945;
*/

body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li{
    padding: 0;
    margin: 0;
}

.container{
    width: 1400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #000; 
}

li{
    list-style: none;
}

body{
    background-color: #474a48;
}

a{
    text-decoration: none;
    color: #fff;
}

.TITULO{
    height: 90px;
    width: 100%;
    background-color: #e8790b;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    padding-top: 10px;
    color: #fff;
}

:root{
    --corPrimaria: #fcba03;
    --corSecundaria: #a19e97;
    --corTexto: #000;
    --div:#ad7e17;
    --div2:#AD9e17;
    --black: #000;
    --white: #fff;
}

/* ***** inicio ****** */

#containerMenu{
    height: 90px;
    width: 1400px;
    background-color: #333634;
    position: fixed;
    margin-top: -90px;
    
  }

#containerLogo{
    height: 60px;
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    background-image: url(../imagens/logo/logo.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#menu{
    height: 50px;
    width: 820px;
    margin-top: 25px;
    margin-left: 15px;
    float: left;
    
}

#menuItens{
    height: inherit;
    width: 100%;
    
}

.itensMenu{
    height: inherit;
    width: 120px;
    float: left;
    
    color: #fff;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    padding-top: 5px;
    box-sizing: border-box;
}

#produtoDoMes{
    width: 200px;
}

#produtoDoMes:hover{
    width: 210px;
}

#Curiosidades{
    width: 160px;
}

#Curiosidades:hover{
    width: 170px;
}

#loja{
    width: 80px;
}

#loja:hover{
    width: 90px;
}

#promocoes{
    width: 130px;
}

#promocoes:hover{
    width: 140px;
}

#contato{
    width: 110px;
}

#contato:hover{
    width: 120px;
}

.itensMenu:hover {
    transition: 1s;
    width: 130px;
    background-color: rgb(0,0,0,0.5);
    border-bottom: #e8790b solid 5px;
}

#containerForm{
    height: 60px;
    width: 400px;
    float: left;
    margin-top: 15px;
/*    background-color: aqua;*/
}

.containerInput{
    height: 60px;
    width: 160px;
    text-align: left;
    color: #fff;
    font-family: "comic sans ms", "arial";
    margin-right: 10px;
    float: left;
}

.confgInput{
    height: 25px;
    width: 150px;

}

#botao{
    height: 30px;
    width: 30px;
    margin-top: 23px;
    border-radius: 5px;
    border: none;
    margin-left: -15px;
}

#inicio, #curiosidades, #contatoImg, #empresaImg{
    height: 450px;
    width: 100%;
    background-color: #EB9620;
    margin-top: 90px;
    background-image: url(../imagens/header/inicio.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    padding-top: 100px;
    
}

#contatoImg{
    background-image: url(../imagens/contato/headerContato.jpg);
    background-position: center;
}

#empresaImg{
    background-image: url(../imagens/empresa/header_empresa.jpg);
    background-position: center;

}

#contatoImg:hover > #tituloHeaderContato{
    opacity: 1;
    visibility: visible;
    transition: 2s;
    border-radius: 10px;
}

#empresaImg:hover > #tituloHeaderEmpresa{
    opacity: 1;
    visibility: visible;
    transition: 2s;
    border-radius: 10px;
}

#tituloHeader, #tituloHeaderContato, #tituloHeaderEmpresa{
    height: 150px;
    width: 1000px;
    background-color: rgb(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 100px;
    color: #fff;
    
}

#tituloHeaderContato{
    width: 500px;
}

#tituloHeaderEmpresa{
    width: 500px;
}

#curiosidades:hover > #tituloHeader{
    opacity: 1;
    visibility: visible;
    transition: 2s;
    border-radius: 10px;
    
}

/* ************ redes sociais ********** */
#containerRedes{
    height: 500px;
    width: 100px;
    position: fixed;
    margin-left: 1410px;
}

#facebook, #whatsapp, #instagram {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    background-image: url(../imagens/redes_sociais/facebook.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#whatsapp{
       background-image: url(../imagens/redes_sociais/whatsapp.png); 
}

#instagram{
       background-image: url(../imagens/redes_sociais/instagram.png); 
}


/* ********** roda pé ***********/

footer{
    height: 130px;
    width: 100%;
    background-color: darkgrey;
}

#containerSistemaInterno{
    height: 130px;
    width: 220px;
    float: left; 
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

#sistemaInterno{
    height: 50px;
    width: 190px;
    border: solid 2px #000;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    font-family: "comic sans ms" "arial";
    font-size: 24px;
    color: #000;
}

#containerEndereco{
    height: 55px;
    width: 750px;
    float: left;
    padding-top: 75px;
    padding-left: 110px;
    
    
}

#endereco{
    height: 40px;
    width: 690px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    font-family: "comic sans ms" "arial";
    font-size: 24px;
    
}

#containerAPP{
    height: 130px;
    width: 320px;
    float: left;
}

#imagemAPP{
    height: 70px;
    width: 60px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background-image: url(../imagens/APP/loja-de-jogos.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#baixarAPP{
    height: 43px;
    width: 180px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 50px;
    border: 2px solid #000;
    float: left;
    padding-top: 17px;
    text-align: center;
    font-family: "comic sans ms", "arial";
    font-size: 24px;
    color: #000;
    
}

/* ******** INICIO *********** */

#containerConteudo{
    min-height: 450px;
    height: auto;
    width: 100%;
    background-color: dimgray;
    
}























