*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#containerConteudo{
    display: block;
}

#ADMusuario{
    border: 2px solid #f58b00;
    background-image: url(../img/person_orange.png);
}

#nomeADMusuario{
    color: #f58b00;
}

#containerEscolhaUsuario{
    height: 50px;
    width: 100%;
    background: #292929;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.escolhaUsuario{
    height: 40px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    background: #292929;
    color: #f58b00;
    border: 2px solid #f58b00;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 70px;
    position: relative;
    overflow: hidden;
}

.escolhaUsuario:hover{
    transition: .4s;
    background: #f58b00;
    color: #292929;
}

#containerDadosUsuario table{
    width: 100%;
    min-height: 45px;
    height: auto;
    margin-bottom: 10px;
}

#containerDadosUsuario table tr{
    width: auto;
    height: 45px;
    margin-bottom: 10px;
}

#containerDadosUsuario table tr td{
    height: inherit;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 2px solid #f58b00;
    font-size: 1.1em;
    font-family: arial;
    color: #292929;
    text-align: center;
    letter-spacing: 1px;
}

#containerDadosUsuario table tr:nth-child(1) td{
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    user-select: none;
}

.containerAcao{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.imgApagar, .imgEditar{
    height: 50px;
    width: 50px;
    background-image: url(../img/trash.png);
    background-size: 40px;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    cursor: pointer;
}

.imgEditar{
    background-image: url(../img/edit.png);
}

/* ****************************** C H E C K B O X ****************************** */

.configCheboxTable{
    height: 40px;
    width: auto;
    padding-top: 5px;
    box-sizing: border-box;
}

.configCheboxTable input[type="checkbox"]{
    position: relative;
    width: 70px;
    height: 25px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #51ff00, #92f266);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgb(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
    cursor: pointer;
}

.configCheboxTable input:checked[type="checkbox"]{
    background: linear-gradient(0deg, #ff0000, #f76868);
}

.configCheboxTable input[type="checkbox"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

.configCheboxTable input:checked[type="checkbox"]::before{
    left: 30px;
}


























